p{
    color: black;
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.size
{
    font-style :oblique;
    text-align: right;
}
.log
{
   text-align: right; 
}


