<button type="submit"class="btn btn-warning" style="margin-top: 2%;margin-left: 85% ;">
    <h4><a routerLink="/login">Go For Shopping</a></h4></button><br>
    <button type="submit"class="btn btn-info" style="margin-top: 2%;margin-left: 85% ;">
        <h4><a routerLink="">Back To Home</a></h4></button>
<br><br>
<h2 style="text-align:center">ABOUT DECATHLON</h2><br><br><br>
<p>Decathlon S.A. (French pronunciation: ​[dekatlɔ̃]) is a French sporting goods retailer. With over 1,697 stores in 60 countries and regions (2020),[1] it is the largest sporting goods retailer in the world.[5][6]

    The company manages the research, design, production, logistics and distribution of its products in house; partners with global suppliers; and markets their own brands directly to consumers in Decathlon-branded big-box stores.
    Contents
    
        1 History
        2 Locations
        3 Product brands
        4 Sponsorship
            4.1 Association football
        5 Economic review
        6 Competition
        7 Social standards
        8 References
        9 External links
    
    History
    
    Founded by Michel Leclercq in 1976, Decathlon started with a store in Lille, France.[7] Its holding company was formerly known as Oxylane.
    
    The company expanded abroad a decade later: to Germany in 1986, Spain in 1992, Italy in 1993,[citation needed] Belgium in 1997,[8] Portugal, the United Kingdom in 1999, Brazil in 2001, mainland China in 2003, India in 2009, Turkey[9] and Czech Republic in 2010, Taiwan in 2012, Hong Kong in 2013, Malaysia and Singapore in 2016, South Africa, Philippines and Indonesia in 2017 in South Korea and Australia in 2018, and Canada in 2019. The company employs more than 87,000 staff[1] from 80 different nationalities.[citation needed]
    
    The retailer stocks a wide range of sporting goods, from tennis rackets to advanced scuba diving equipment, usually in large, big-box superstores averaging 4,000m2 in size.[10] Decathlon Group markets its products under more than 20 brands.[11] Its research and development facilities are located across France, where the company develops its product designs, registering up to 40 patents per year.[12]
    
    In January 2021, Decathlon signed a multi-year merchandising agreement with the National Basketball Association as an official licensee under Tarmak.[13][14]
    
    In January 2022, Decathlon named Ingka group's chief digital officer, Barbara Martin Coppola, as its new global chief executive officer.[15]
    Locations
    Countries with Decathlon stores[1]
    Entrance of one of the Kochi stores in Kalamassery[16]
    Entrance of İstanbul store
    Entrance of Dalian store
    Entrance of Arnhem store
    Decathlon, Southside Wandsworth, London
    Decathlon Branch at Amritsar, Punjab
    Entrance of Amritsar, Punjab store
    
    As of May 2021, Decathlon operated 1,655 Decathlon stores worldwide in nearly 1,000 cities and 65 countries.[1]
    
    Online delivery has been introduced in Australia, Bangladesh, Belgium, Brazil, Bulgaria, Czech Republic, Chile, Colombia, Estonia, France, Germany, Greece, Hong Kong SAR, Hungary, India, Indonesia, Ireland, Israel, Italy, Japan, Mainland China, Mexico, Netherlands, Poland, Portugal, Philippines, Romania, Singapore, Spain, Taiwan, Turkey, United Kingdom, and recently, Egypt, Malaysia, Thailand, Vietnam, and parts of Canada (Ontario & Quebec).[17]
    
    In India, Decathlon products may be purchased directly through their stores, subsequent to change in India's FDI policy and approval for Decathlon in February 2013.[18] In addition to this, Decathlon products are also available online through their online resellers.[citation needed]
    
    In late 2016, an online only delivery service was introduced in Tunisia in preparation of the opening in Tunis of its first store.[19] The first store opened in November 2017 in Tunis City commercial center in Tunis.[20] A second location opened in April 2018 in the country situated in La Marsa.[citation needed]
    
    In February 2017, they opened the first store in Bogota, Colombia in the mall Parque La Colina.[21]
    
    In July 2017, Decathlon entered the Philippine market with a location at Festival Mall in Filinvest Corporate City, Alabang, Muntinlupa, and in Tiendesitas, Pasig.[22] In August 2017, the company announced it would open its first Canadian store in Brossard, Quebec during the spring of 2018.[23]
    
    In November 2017, Decathlon entered the Indonesia market.[24]
    
    Their first Australian store opened in Tempe, Sydney, NSW, in December 2017.[25] After two years in the Australian market, the viability of the Australian business is under question after posting a trading loss of $19,563,819 (Australian dollars) in two years of trading.[26]
    
    In April 2018, the company announced it would open its first store in Kyiv, Ukraine, in the first months of 2019.[27]
    
    In 2019, the company opened stores in Ireland;[28] Vietnam;[29] Bangladesh; Malta; and Serbia.[30] The company also opened stores in the United States (California).[31] In an earlier attempt to enter the US market, it acquired the 18 Boston, Massachusetts area locations of MVP Sports Stores in 1999, rebranded them under the Decathlon brand, and subsequently closed those stores by 2006.[citation needed]
    
    In November 2020, the first Decathlon store opened in Riga, Latvia.[citation needed]
    
    Decathlon was supposed to open in Mauritius in April 2021 but due to the lockdown, the grand opening was on 13 May 2021.[citation needed]
    
    In April 2021, the first Decathlon store opened in Saudi Arabia, Jeddah.[citation needed]
    
    Following the 2022 Russian invasion of Ukraine, many international, particularly Western companies, pulled out of Russia. Decathlon has been criticized for not announcing any scaling down of its operations, unlike most of its Western competitors.[32][33] On 29 March, Decathlon announced that it has ceased its operations and suspended the operation of all its stores in Russia.[34] However, reports in mid-June indicated that the stores are still in operation and may be temporally closed by the end of the month until it becomes possible to renew supplies.[35]
    Product brands
    
    Decathlon is vertically integrated, designing and developing its own products and marketing under its more than 20 brands, with each sport—and often sub-sports and sports groups—having their own:
    
        Allsix - Volleyball (indoor)
        Aptonia - Nutrition and Triathlon
        Artengo - Tennis and Squash
        Atorka - Handball
        B'Twin - Cycling
        Caperlan - Fishing
        Domyos - Fitness, Gym and Dance
        Forclaz - Trekking
        Fouganza - Horse Riding
        FLX - Cricket
        Geologic - Target Sports such as Archery, Darts
        Geonaute - Sports Electronics
        Inesis - Golf
        Inovik - Cross-country skiing
        Itiwit - Paddle sports
        Kalenji - Running
        Kimjaly - Yoga
        Kipsta - Team Sports
        KOODZA - Pétanque
        KOROK - Field hockey
        Kuikma - Padel
        Nabaiji - Swimming
        Newfeel - Sport Walking
        Offload - Rugby
        Olaian - Surfing and Boardwalking
     </p>
